.text-center{
    text-align: center;
}
.formulario {
    background-color: #efecec;
    padding: 30px 15px 40px 15px;
    box-shadow: 0 0 10px #989898;
}
.formulario__campo {
    width: 100%;
    border : 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 5px;
}
.formulario__grupo{
    margin-bottom: 10px;
}
.formulario__label {
    color: blue;
}
.formulario__botao__enviar {
    border: 3px solid blue;
    margin-bottom: 10px;
    border-radius: 300px;
    background-color: #fff;
    color: blue;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}
.formulario__botao__delete {
    border: 3px solid blue;
    margin-bottom: 10px;
    border-radius: 300px;
    background-color: #fff;
    color: blue;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}